@mixin display_flex_start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin display_flex_centre {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin display_flex_end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin display_bottom_start {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

@mixin display_bottom_end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/** The mixins that will be used for the different display sizes **/

@mixin tablet_width {
  @media screen and (min-width: 750px){
    @content;
  }
}

@mixin large_tablet_width {
  @media screen and (min-width: 1000px){
    @content;
  }
}

@mixin desktop_width {
  @media screen and (min-width: 1200px){
    @content;
  }
}
