/* Default Colours */
$brand_colour: #B6483D; /* This will be used for the highlighting aspects */

/* These colours are used as background colours */
$white: #FFF;
$blue-white: #F6F9FC;
$grey: #AAA;
$grey-dark: #444;
$green: #33CF66;
$red: #FF2B47;
$black: #000;

/* Default values for the fonts */
$default_font: 'Baloo Thambi 2', Arial, sans-serif;
$default_font_size: 1em;
$default_line_height: 2em;
$default_weight: 400;

/* Heading font */
$heading_font: $default_font;
$heading_line_height: 1.5em;
$heading_weight: 700;
