@import "fonts";
@import "vars";
@import "utils";

HTML {
  scroll-behavior: smooth;
}

BODY {
  margin: 0;
  padding: 0px;
  font-family: $default_font;
  font-size: 20px;
  font-weight: $default_weight;

  &.show_object {
    overflow: hidden;

    ARTICLE.show_object.current {
      right: 0;
      transition: 0.5s;
    }

    @include large_tablet_width {
      overflow-y: scroll;

      HEADER {
        width: 50vw;
      }

      MAIN {
        width: 50vw;
        transition: 0.5s;
      }
    }

    @include desktop_width {
      overflow-y: scroll;

      HEADER {
        width: 70vw;
      }

      MAIN {
        width: 70vw;
        transition: 0.5s;
      }
    }
  }

  &.show_cookies {
    overflow: hidden;

    SECTION.cookies_modal {
      bottom: 0;
      background-color: transparentize($grey-dark, 0.8);
      transition: background-color 0.5s;

      ARTICLE {
        bottom: 0;
        transition: bottom 0.5s;
      }
    }
  }

  &.show_gallery {
    /* Stop the scroll on the main item list */
    overflow: hidden;

    ARTICLE.gallery_show {
      /* Show the gallery by setting the opacity */
      opacity: 1;
      /* Set the height and width to fill the screen */
      height: 100vh;
      width: 100vw;
      /*
        Add a tranistion to get a nice little animation to
        show the gallery opening
      */
      transition: 0.5s;
    }
  }
}

H1, H2, H3, H4, H5, H6 {
  color: $brand_colour;
}

HEADER {
  background-color: $blue-white;
  border: 0px solid $blue-white;

  display: grid;
  grid-template-columns: auto 4rem;
  grid-template-rows: 4rem;

  /* The header will need to be fixed */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  H1 {
    grid-column: 1;
    padding: 0px 0.3em;
    margin: 0px;
    font-size: 2rem;

    display: flex;
    align-items: center;
  }

  A {
    grid-column: 2;
    text-decoration: none;
    color: $brand_colour;
    font-size: 1.2em;
    transition: 0.5s;
    @include display_flex_centre;

    &:hover {
      background-color: $brand_colour;
      color: $white;
      font-size: 1.5em;
      transition: 0.5s;
    }
  }

  @include desktop_width {
    grid-template-columns: 1fr;
    width: 15vw;

    A {
      display: none;
    }
  }
}

NAV {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  width: 100%;
  transition: 0.5s;
  background-color: $brand_colour;
  color: $white;
  padding: 4em 0em;
  z-index: 40;
  @include display_flex_centre;

  &.show {
    right: 0;
    transition: 0.5s;
  }

  > A {
    height: 4rem;
    width: 4rem;
    font-size: 1.2em;
    position: absolute;
    top: 0;
    right: 0;
    color: $white;
    text-decoration: none;
    @include display_flex_centre;
    transition: 0.3s;

    &:hover {
      background-color: $white;
      color: $brand_colour;
      transition: 0.3s;
      font-size: 1.5em;
    }
  }

  /* Bring the navigation items into the centre of the page */
  UL {
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 80%;

    LI {
      padding: 0;
      margin: 0;

      A {
        display: block;
        width: 100%;/* Make the items easy to hit with on the mobile device */
        box-sizing: border-box;
        text-align: center;
        text-decoration: none;
        color: $white;
        font-size: 2rem;
        padding: 0.5em;
        border-top: 1px solid $white;
        transition: 0.5s;

        I {
          margin-right: 0.5rem;
        }

        &:hover {
          background-color: $white;
          color: $brand_colour;
          transition: 0.5s;
        }
      }

      &:last-child  A {
        border-bottom: 1px solid $white;
      }
    }
  }

  /* Always show the menu items when is dektop mode */
  @include desktop_width {
    width: 85vw;
    top: 0;
    right: 0;
    left: 15vw;
    width: 100%;
    height: 4rem;
    overflow: hidden;
    transition: 0.5s;
    background-color: $blue-white;
    display: block;
    padding: 0;
    z-index: 20;

    > A {
      display: none;
    }

    UL {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 85vw;
      margin: 0px;

      LI {
        A {
          height: 4rem;
          padding: 0px 1rem;
          font-size: 1.3rem;
          color: $brand_colour;
          border: none;

          @include display_flex_centre;

          &:hover {
            background-color: $brand_colour;
            color: $white;
            transition: 0.3s;
          }
        }
      }
    }
  }
}

/* Style for the main section */

MAIN {
  /* Push the main content down the page */
  transition: 0.5s;
  height: 100vh;
  position: relative;

  ARTICLE {
    position: absolute;
    top: 4rem;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;
  }

  .hidden {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
  }

  /* Style for the saved items */
  ARTICLE.saved_items {
    padding: 1rem;
    box-sizing: border-box;

    SECTION.header {
      display: grid;
      grid-template-columns: 3fr 2fr;
      padding: 1rem 0;

      H1, DIV {
        @include display_flex_start;
      }

      H1 {
        font-size: 3rem;
        margin: 0;
        padding: 0;
      }

      DIV {
        justify-content: flex-end;
      }
    }

    > DIV H2 {
      color: $black;
    }

    @include desktop_width {
      background-color: #EFEFEF;

      > DIV {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10rem;
        grid-gap: 2rem;
      }
    }

    > DIV > A {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-decoration: none;
      border-bottom: 2px solid $brand_colour;
      background-color: $white;

      &:last-child {
        border: none;
      }

      .info {
        grid-column: 2;
        @include display_flex_end;
        padding: 0.5rem;

        H2 {
          font-size: 1.3rem;
          padding: 0;
          margin: 0;
          text-align: right;

          @include tablet_width {
            font-size: 2rem;
          }
        }
      }

      .image {
        grid-column: 1;
        overflow: hidden;
        @include display_flex_centre;

        IMG {
          min-width: 100%;
          min-height: 100%;
          transition: 0.5s;
        }
      }

      &:nth-child(even) {

        .info {
          grid-column: 1;
          grid-row: 1;
          justify-content: flex-start;

          H2 {
            text-align: left;
          }
        }
        .image {
          grid-column: 2;
        }
      }

      @include desktop_width {
        max-height: 10rem;
        grid-template-rows: 10rem;
        border: none;

        .info {
          grid-column: 2 !important;
          justify-content: flex-end !important;
          H2 {
            font-size: 1rem;
            text-align: right !important;
          }
        }

        .image {
          grid-column: 1 !important;
          overflow: hidden;

          IMG {
            min-height: 10rem
          }
        }
      }

      &:hover {
        .image {
          IMG {
            max-width: 150%;
            min-width: 150%;
            transition: 0.5s;
          }
        }
      }
    }
  }

  /* Style for the grid_view article */
  ARTICLE.grid_view{
    scroll-behavior: smooth;
    
    DIV {
      display: grid;
      grid-template-columns: 1fr 1fr;
      transition: 0.5s;

      @include tablet_width {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      @include large_tablet_width {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }

      @include desktop_width {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      }

      /*
        This will centre the image in each of the links and make it easier for
        the users to hit the item
      */
      A {
        display: block;
        position: relative;
        overflow: hidden;
        &:before {
          content: '';
          width: 1px;
          margin-top: 100%;
          display: block;
        }

        IMG {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          transition: 0.3s;
        }

        SECTION {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: transparentize($brand_colour, 0.2);
          color: $white;
          font-size: 1rem;
          @include display_flex_centre;
          padding: 10px;
          box-sizing: border-box;
          text-align: center;
          opacity: 0;
        }

        &:hover {
          IMG {
            transition: 0.3s;
            width: 120%;
          }

          SECTION {
            opacity: 1;
          }
        }
      }
    }
  }
}

/* Style for the back to top button */
A.back_to_top {
  height: 3rem;
  width: 3rem;
  position: fixed;
  bottom: -3rem;
  right: 0.3rem;
  font-size: 1.3rem;
  background-color: $brand_colour;
  color: $white;
  text-decoration: none;
  transition: 0.3s;

  @include display_flex_centre;

  &:hover {
    font-size: 1.5rem;
    transition: 0.3s;
  }

  &.show {
    bottom: 0.3rem;
    transition: 0.3s;
  }

  @include large_tablet_width {
    left: 0.3rem;
    right: auto;
  }
}

/* Style for the show object */

ARTICLE.show_object {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: $white;
  z-index: 25;
  transition: 0.5s;

  @include large_tablet_width {
    width: 50vw;
  }

  @include desktop_width {
    top: 4rem;
    width: 30vw;
    height: auto;
    bottom: 0;
  }

  &.back_object {
    right: 100vw;
  }

  .back_button {
    position: absolute;
    top: 0;
    left: 0;
    color: $brand_colour;
    height: 3rem;
    width: 3rem;
    text-decoration: none;
    font-size: 1rem;
    z-index: 30;
    @include display_flex_centre;

    SPAN {
      height: 1.5rem;
      width: 1.5rem;
      border: 2px solid $brand_colour;
      border-radius: 50%;
      background-color: $white;
      @include display_flex_centre;
    }

    &:hover {
      transition: 0.3s;
      font-size: 1.3rem;
    }

    @include tablet_width {
      width: 4rem;
      height: 4rem;
      font-size: 1.5rem;

      SPAN {
        width: 2.5rem;
        height: 2.5rem;
      }

      &:hover {
        font-size: 1.7rem;
      }
    }

    @include tablet_width {
      width: 3rem;
      height: 3rem;
      font-size: 1rem;

      SPAN {
        width: 1.5rem;
        height: 1.5rem;
      }

      &:hover {
        font-size: 1.3rem;
      }
    }
  }

  SECTION.image {
    background-color: $blue-white;
    height: 25vh;
    overflow: hidden;
    position: relative;

    IMG {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      z-index: 25;
    }
  }

  SECTION.content {
    box-shadow: 0px 0px 20px $grey;
    min-height: 75vh;
    border: 1px solid $blue-white;
    box-sizing: border-box;
    position: relative;
    z-index: 30;
    padding: 10px;
    font-size: 1rem;
    background-color: $blue-white;

    .title {
      display: grid;
      grid-template-columns: 1fr 3rem 3rem;
      grid-template-rows: auto 2.5rem;
      padding-bottom: 0.5rem;

      H1 {
        grid-column: 1;
        font-size: 1.75rem;
        margin: 0;
      }

      A {
        @include display_flex_centre;
        color: $brand_colour;
        text-decoration: none;
        align-items: flex-start;
        font-size: 1rem;

        &.hide {
          display: none;
        }

        SPAN {
          width: 2rem;
          height: 2rem;
          @include display_flex_centre;
          border: 2px solid $brand_colour;
          border-radius: 50%;
        }

        &.save_current_item {
          grid-column: 2;
        }
        &.share_item {
          grid-column: 3;
        }
      }

      INPUT {
        grid-column: 1 / 4;
        grid-row: 2;
        outline: none;
        background-color: $white;
        border: 2px solid $brand_colour;
        border-radius: 2.5rem;
        padding: 0 0.5rem;
        height: 0px;
        opacity: 0;
        font-size: 1rem;
        transition: 0.5s;

        &.show {
          opacity: 1;
          height: 2.5rem;
          transition: 0.5s;
        }
      }
    }

    .data {

      DL {
        display: grid;
        grid-template-columns: 2fr 4fr;

        DT {
          background-color: $brand_colour;
          color: $white;
          font-weight: 700;
          padding: 0.5rem;
          @include display_flex_start;
        }

        DD {
          @include display_flex_end;
          background-color: $white;
          text-align: right;
          margin: 0;
          padding: 0.5rem;
          border-bottom: 2px solid $brand_colour;
          border-right: 2px solid $brand_colour;

          &:first-of-type {
            border-top: 2px solid $brand_colour;
          }
        }
      }
    }

    H2 {
      font-size: 1.5rem;
    }

    .description {
      margin: 0;
    }

    .gallery, .related_items {
      .images, .items {
        display: flex;
        flex-wrap: wrap;

        A {
          flex: 1;
          min-width: 25%;
          max-width: 25%;
          overflow: hidden;
          text-align: center;
          position: relative;

          @include tablet_width {
            min-width: 20%;
            max-width: 20%;
          }

          &:before {
            content: "";
            display: block;
            width: 1px;
            height: auto;
            margin-top: 100%;
          }

          IMG {
            position: absolute;
            width: 120%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.3s;
          }

          &:hover {
            IMG {
              width: 160%;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }

  .message_banner {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: $green;
    padding: 1rem;
    width: 100vw;
    z-index: 30;
    color: $white;
    font-size: 1.5rem;
    transition: 0.5s;

    @include display_flex_start;

    I {
      font-size: 2rem;
      margin-right: 1rem;
    }

    &.show {
      bottom: 0;
      transition: 0.5s;
    }

    @include large_tablet_width {
      width: 50vw;
      left: 50vw;
      font-size: 1.2rem;
    }

    @include desktop_width {
      width: 30vw;
      left: 70vw;
      font-size: 1rem;

      I {
        font-size: 1.5rem;
      }
    }
  }
}

/* Style for the footer */

FOOTER {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: -100%;
  transition: 0.5s;
  color: $white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 400;
  font-size: 0.9rem;
  z-index: 20;

  &.show {
    right: 0;
    transition: 0.5s;
  }

  SECTION {
    padding: 0.2rem;
    margin: 0;
    @include display_bottom_start;

    &:last-child {
      justify-content: flex-end;

      P {
        text-align: right;
      }
    }

    P {
      padding: 0;
      margin: 0;

      A {
        color: $blue-white;
      }
    }
  }
}

/* The modal that will ask the users if they want to use cookies */

SECTION.cookies_modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -100%;
  height: 100vh;
  width: 100vw;
  z-index: 40;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.5s, bottom 0s linear 0.5s;

  ARTICLE {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: $white;
    box-shadow: 0px 0px 20px $grey;
    max-height: 90vh;
    overflow-y: auto;
    font-size: 1rem;
    padding: 0.3rem;
    transition: bottom 0.5s;

    .accept_button, .decline_button {
      width: 100%;
      border: 1px solid #FFF;
      font-size: 1rem;
      font-family: $default_font;
      font-weight: 700;
      padding: 0.75rem;
      color: $white;
      transition: 0.3s;
      cursor: pointer;

      I {
        margin-right: 0.3rem;
      }
    }

    .accept_button {
      background-color: $green;
      border-color: $green;

      &:hover {
        background-color: lighten($green, 20%);
        border-color: lighten($green, 20%);
        transition: 0.3s;
      }
    }

    .decline_button {
      background-color: $red;
      border-color: $red;

      &:hover {
        background-color: lighten($red, 20%);
        border-color: lighten($red, 20%);
        transition: 0.3s;
      }
    }

    @include tablet_width {
      .buttons {
        display: flex;
      }
    }

    @include desktop_width {
      top: 50%;
      left: 50%;
      bottom: auto !important;
      transform: translate(-50%, -50%);
      width: 50vw;
      height: auto;
      min-height: 0px;
      max-height: none;
      padding-bottom: 4rem;

      .buttons {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }
  }
}

/* Style for the gallery view */

ARTICLE.gallery_show {
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  background-color: transparentize($grey-dark, 0.3);
  height: 0px;
  width: 0px;
  opacity: 0;
  z-index: 30;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  grid-template-rows: 3rem 1fr 3rem;
  transition: 0.5s;

  @include tablet_width {
    grid-template-columns: 5rem 1fr 5rem;
    grid-template-rows: 5rem 1fr 5rem;
  }

  .close_gallery {
    grid-column: 3;
    grid-row: 1;
  }

  .next_item {
    grid-column: 3;
    grid-row: 2;
  }

  .prev_item {
    grid-column: 1;
    grid-row: 2;
  }

  .close_gallery, .next_item, .prev_item {
    @include display_flex_centre;
    text-decoration: none;
    color: $brand_colour;
    transition: 0.3s;

    SPAN {
      width: 2rem;
      height: 2rem;
      display: block;
      border: 2px solid $brand_colour;
      border-radius: 50%;
      background-color: $white;
      @include display_flex_centre;
    }

    &.disable {
      opacity: 0;
      transition: 0.3s;
    }

    @include tablet_width {
      font-size: 1.5rem;

      SPAN {
        width: 2.5rem;
        height: 2.5rem;
      }

      &:hover {
        font-size: 1.7rem;
      }
    }
  }

  .images {
    grid-row: 2;
    grid-column: 2;
    position: relative;
    overflow: hidden;

    IMG {
      max-width: calc(100vw - 6rem);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      transition: 0.5s;
    }

    .next {
      left: 150%;
      opacity: 0;
      transition: 0.5s;
    }

    .prev {
      left: -50%;
      opacity: 0;
      transition: 0.5s;
    }
  }
}

/* Style the clear saved button */

A.clear_saved {
  background-color: $red;
  color: $white;
  text-decoration: none;
  padding: 1rem;
  transition: 0.5s;

  &:hover {
    background-color: lighten($red, 20%);
    transition: 0.5s;
  }
}
