@import url("https://fonts.googleapis.com/css?family=Baloo+Thambi+2:400,700&display=swap");
/* Default Colours */
/* This will be used for the highlighting aspects */
/* These colours are used as background colours */
/* Default values for the fonts */
/* Heading font */
/** The mixins that will be used for the different display sizes **/
HTML {
  scroll-behavior: smooth; }

BODY {
  margin: 0;
  padding: 0px;
  font-family: "Baloo Thambi 2", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400; }
  BODY.show_object {
    overflow: hidden; }
    BODY.show_object ARTICLE.show_object.current {
      right: 0;
      transition: 0.5s; }
    @media screen and (min-width: 1000px) {
      BODY.show_object {
        overflow-y: scroll; }
        BODY.show_object HEADER {
          width: 50vw; }
        BODY.show_object MAIN {
          width: 50vw;
          transition: 0.5s; } }
    @media screen and (min-width: 1200px) {
      BODY.show_object {
        overflow-y: scroll; }
        BODY.show_object HEADER {
          width: 70vw; }
        BODY.show_object MAIN {
          width: 70vw;
          transition: 0.5s; } }
  BODY.show_cookies {
    overflow: hidden; }
    BODY.show_cookies SECTION.cookies_modal {
      bottom: 0;
      background-color: rgba(68, 68, 68, 0.2);
      transition: background-color 0.5s; }
      BODY.show_cookies SECTION.cookies_modal ARTICLE {
        bottom: 0;
        transition: bottom 0.5s; }
  BODY.show_gallery {
    /* Stop the scroll on the main item list */
    overflow: hidden; }
    BODY.show_gallery ARTICLE.gallery_show {
      /* Show the gallery by setting the opacity */
      opacity: 1;
      /* Set the height and width to fill the screen */
      height: 100vh;
      width: 100vw;
      /*
        Add a tranistion to get a nice little animation to
        show the gallery opening
      */
      transition: 0.5s; }

H1, H2, H3, H4, H5, H6 {
  color: #B6483D; }

HEADER {
  background-color: #F6F9FC;
  border: 0px solid #F6F9FC;
  display: grid;
  grid-template-columns: auto 4rem;
  grid-template-rows: 4rem;
  /* The header will need to be fixed */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  HEADER H1 {
    grid-column: 1;
    padding: 0px 0.3em;
    margin: 0px;
    font-size: 2rem;
    display: flex;
    align-items: center; }
  HEADER A {
    grid-column: 2;
    text-decoration: none;
    color: #B6483D;
    font-size: 1.2em;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center; }
    HEADER A:hover {
      background-color: #B6483D;
      color: #FFF;
      font-size: 1.5em;
      transition: 0.5s; }
  @media screen and (min-width: 1200px) {
    HEADER {
      grid-template-columns: 1fr;
      width: 15vw; }
      HEADER A {
        display: none; } }

NAV {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  width: 100%;
  transition: 0.5s;
  background-color: #B6483D;
  color: #FFF;
  padding: 4em 0em;
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Bring the navigation items into the centre of the page */
  /* Always show the menu items when is dektop mode */ }
  NAV.show {
    right: 0;
    transition: 0.5s; }
  NAV > A {
    height: 4rem;
    width: 4rem;
    font-size: 1.2em;
    position: absolute;
    top: 0;
    right: 0;
    color: #FFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s; }
    NAV > A:hover {
      background-color: #FFF;
      color: #B6483D;
      transition: 0.3s;
      font-size: 1.5em; }
  NAV UL {
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 80%; }
    NAV UL LI {
      padding: 0;
      margin: 0; }
      NAV UL LI A {
        display: block;
        width: 100%;
        /* Make the items easy to hit with on the mobile device */
        box-sizing: border-box;
        text-align: center;
        text-decoration: none;
        color: #FFF;
        font-size: 2rem;
        padding: 0.5em;
        border-top: 1px solid #FFF;
        transition: 0.5s; }
        NAV UL LI A I {
          margin-right: 0.5rem; }
        NAV UL LI A:hover {
          background-color: #FFF;
          color: #B6483D;
          transition: 0.5s; }
      NAV UL LI:last-child A {
        border-bottom: 1px solid #FFF; }
  @media screen and (min-width: 1200px) {
    NAV {
      width: 85vw;
      top: 0;
      right: 0;
      left: 15vw;
      width: 100%;
      height: 4rem;
      overflow: hidden;
      transition: 0.5s;
      background-color: #F6F9FC;
      display: block;
      padding: 0;
      z-index: 20; }
      NAV > A {
        display: none; }
      NAV UL {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 85vw;
        margin: 0px; }
        NAV UL LI A {
          height: 4rem;
          padding: 0px 1rem;
          font-size: 1.3rem;
          color: #B6483D;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center; }
          NAV UL LI A:hover {
            background-color: #B6483D;
            color: #FFF;
            transition: 0.3s; } }

/* Style for the main section */
MAIN {
  /* Push the main content down the page */
  transition: 0.5s;
  height: 100vh;
  position: relative;
  /* Style for the saved items */
  /* Style for the grid_view article */ }
  MAIN ARTICLE {
    position: absolute;
    top: 4rem;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow-y: scroll; }
  MAIN .hidden {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: 0.5s; }
  MAIN ARTICLE.saved_items {
    padding: 1rem;
    box-sizing: border-box; }
    MAIN ARTICLE.saved_items SECTION.header {
      display: grid;
      grid-template-columns: 3fr 2fr;
      padding: 1rem 0; }
      MAIN ARTICLE.saved_items SECTION.header H1, MAIN ARTICLE.saved_items SECTION.header DIV {
        display: flex;
        align-items: center;
        justify-content: flex-start; }
      MAIN ARTICLE.saved_items SECTION.header H1 {
        font-size: 3rem;
        margin: 0;
        padding: 0; }
      MAIN ARTICLE.saved_items SECTION.header DIV {
        justify-content: flex-end; }
    MAIN ARTICLE.saved_items > DIV H2 {
      color: #000; }
    @media screen and (min-width: 1200px) {
      MAIN ARTICLE.saved_items {
        background-color: #EFEFEF; }
        MAIN ARTICLE.saved_items > DIV {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 10rem;
          grid-gap: 2rem; } }
    MAIN ARTICLE.saved_items > DIV > A {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-decoration: none;
      border-bottom: 2px solid #B6483D;
      background-color: #FFF; }
      MAIN ARTICLE.saved_items > DIV > A:last-child {
        border: none; }
      MAIN ARTICLE.saved_items > DIV > A .info {
        grid-column: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0.5rem; }
        MAIN ARTICLE.saved_items > DIV > A .info H2 {
          font-size: 1.3rem;
          padding: 0;
          margin: 0;
          text-align: right; }
          @media screen and (min-width: 750px) {
            MAIN ARTICLE.saved_items > DIV > A .info H2 {
              font-size: 2rem; } }
      MAIN ARTICLE.saved_items > DIV > A .image {
        grid-column: 1;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center; }
        MAIN ARTICLE.saved_items > DIV > A .image IMG {
          min-width: 100%;
          min-height: 100%;
          transition: 0.5s; }
      MAIN ARTICLE.saved_items > DIV > A:nth-child(even) .info {
        grid-column: 1;
        grid-row: 1;
        justify-content: flex-start; }
        MAIN ARTICLE.saved_items > DIV > A:nth-child(even) .info H2 {
          text-align: left; }
      MAIN ARTICLE.saved_items > DIV > A:nth-child(even) .image {
        grid-column: 2; }
      @media screen and (min-width: 1200px) {
        MAIN ARTICLE.saved_items > DIV > A {
          max-height: 10rem;
          grid-template-rows: 10rem;
          border: none; }
          MAIN ARTICLE.saved_items > DIV > A .info {
            grid-column: 2 !important;
            justify-content: flex-end !important; }
            MAIN ARTICLE.saved_items > DIV > A .info H2 {
              font-size: 1rem;
              text-align: right !important; }
          MAIN ARTICLE.saved_items > DIV > A .image {
            grid-column: 1 !important;
            overflow: hidden; }
            MAIN ARTICLE.saved_items > DIV > A .image IMG {
              min-height: 10rem; } }
      MAIN ARTICLE.saved_items > DIV > A:hover .image IMG {
        max-width: 150%;
        min-width: 150%;
        transition: 0.5s; }
  MAIN ARTICLE.grid_view {
    scroll-behavior: smooth; }
    MAIN ARTICLE.grid_view DIV {
      display: grid;
      grid-template-columns: 1fr 1fr;
      transition: 0.5s;
      /*
        This will centre the image in each of the links and make it easier for
        the users to hit the item
      */ }
      @media screen and (min-width: 750px) {
        MAIN ARTICLE.grid_view DIV {
          grid-template-columns: 1fr 1fr 1fr 1fr; } }
      @media screen and (min-width: 1000px) {
        MAIN ARTICLE.grid_view DIV {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr; } }
      @media screen and (min-width: 1200px) {
        MAIN ARTICLE.grid_view DIV {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; } }
      MAIN ARTICLE.grid_view DIV A {
        display: block;
        position: relative;
        overflow: hidden; }
        MAIN ARTICLE.grid_view DIV A:before {
          content: '';
          width: 1px;
          margin-top: 100%;
          display: block; }
        MAIN ARTICLE.grid_view DIV A IMG {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          transition: 0.3s; }
        MAIN ARTICLE.grid_view DIV A SECTION {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(182, 72, 61, 0.8);
          color: #FFF;
          font-size: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          box-sizing: border-box;
          text-align: center;
          opacity: 0; }
        MAIN ARTICLE.grid_view DIV A:hover IMG {
          transition: 0.3s;
          width: 120%; }
        MAIN ARTICLE.grid_view DIV A:hover SECTION {
          opacity: 1; }

/* Style for the back to top button */
A.back_to_top {
  height: 3rem;
  width: 3rem;
  position: fixed;
  bottom: -3rem;
  right: 0.3rem;
  font-size: 1.3rem;
  background-color: #B6483D;
  color: #FFF;
  text-decoration: none;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center; }
  A.back_to_top:hover {
    font-size: 1.5rem;
    transition: 0.3s; }
  A.back_to_top.show {
    bottom: 0.3rem;
    transition: 0.3s; }
  @media screen and (min-width: 1000px) {
    A.back_to_top {
      left: 0.3rem;
      right: auto; } }

/* Style for the show object */
ARTICLE.show_object {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: #FFF;
  z-index: 25;
  transition: 0.5s; }
  @media screen and (min-width: 1000px) {
    ARTICLE.show_object {
      width: 50vw; } }
  @media screen and (min-width: 1200px) {
    ARTICLE.show_object {
      top: 4rem;
      width: 30vw;
      height: auto;
      bottom: 0; } }
  ARTICLE.show_object.back_object {
    right: 100vw; }
  ARTICLE.show_object .back_button {
    position: absolute;
    top: 0;
    left: 0;
    color: #B6483D;
    height: 3rem;
    width: 3rem;
    text-decoration: none;
    font-size: 1rem;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center; }
    ARTICLE.show_object .back_button SPAN {
      height: 1.5rem;
      width: 1.5rem;
      border: 2px solid #B6483D;
      border-radius: 50%;
      background-color: #FFF;
      display: flex;
      align-items: center;
      justify-content: center; }
    ARTICLE.show_object .back_button:hover {
      transition: 0.3s;
      font-size: 1.3rem; }
    @media screen and (min-width: 750px) {
      ARTICLE.show_object .back_button {
        width: 4rem;
        height: 4rem;
        font-size: 1.5rem; }
        ARTICLE.show_object .back_button SPAN {
          width: 2.5rem;
          height: 2.5rem; }
        ARTICLE.show_object .back_button:hover {
          font-size: 1.7rem; } }
    @media screen and (min-width: 750px) {
      ARTICLE.show_object .back_button {
        width: 3rem;
        height: 3rem;
        font-size: 1rem; }
        ARTICLE.show_object .back_button SPAN {
          width: 1.5rem;
          height: 1.5rem; }
        ARTICLE.show_object .back_button:hover {
          font-size: 1.3rem; } }
  ARTICLE.show_object SECTION.image {
    background-color: #F6F9FC;
    height: 25vh;
    overflow: hidden;
    position: relative; }
    ARTICLE.show_object SECTION.image IMG {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      z-index: 25; }
  ARTICLE.show_object SECTION.content {
    box-shadow: 0px 0px 20px #AAA;
    min-height: 75vh;
    border: 1px solid #F6F9FC;
    box-sizing: border-box;
    position: relative;
    z-index: 30;
    padding: 10px;
    font-size: 1rem;
    background-color: #F6F9FC; }
    ARTICLE.show_object SECTION.content .title {
      display: grid;
      grid-template-columns: 1fr 3rem 3rem;
      grid-template-rows: auto 2.5rem;
      padding-bottom: 0.5rem; }
      ARTICLE.show_object SECTION.content .title H1 {
        grid-column: 1;
        font-size: 1.75rem;
        margin: 0; }
      ARTICLE.show_object SECTION.content .title A {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #B6483D;
        text-decoration: none;
        align-items: flex-start;
        font-size: 1rem; }
        ARTICLE.show_object SECTION.content .title A.hide {
          display: none; }
        ARTICLE.show_object SECTION.content .title A SPAN {
          width: 2rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid #B6483D;
          border-radius: 50%; }
        ARTICLE.show_object SECTION.content .title A.save_current_item {
          grid-column: 2; }
        ARTICLE.show_object SECTION.content .title A.share_item {
          grid-column: 3; }
      ARTICLE.show_object SECTION.content .title INPUT {
        grid-column: 1 / 4;
        grid-row: 2;
        outline: none;
        background-color: #FFF;
        border: 2px solid #B6483D;
        border-radius: 2.5rem;
        padding: 0 0.5rem;
        height: 0px;
        opacity: 0;
        font-size: 1rem;
        transition: 0.5s; }
        ARTICLE.show_object SECTION.content .title INPUT.show {
          opacity: 1;
          height: 2.5rem;
          transition: 0.5s; }
    ARTICLE.show_object SECTION.content .data DL {
      display: grid;
      grid-template-columns: 2fr 4fr; }
      ARTICLE.show_object SECTION.content .data DL DT {
        background-color: #B6483D;
        color: #FFF;
        font-weight: 700;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start; }
      ARTICLE.show_object SECTION.content .data DL DD {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: #FFF;
        text-align: right;
        margin: 0;
        padding: 0.5rem;
        border-bottom: 2px solid #B6483D;
        border-right: 2px solid #B6483D; }
        ARTICLE.show_object SECTION.content .data DL DD:first-of-type {
          border-top: 2px solid #B6483D; }
    ARTICLE.show_object SECTION.content H2 {
      font-size: 1.5rem; }
    ARTICLE.show_object SECTION.content .description {
      margin: 0; }
    ARTICLE.show_object SECTION.content .gallery .images, ARTICLE.show_object SECTION.content .gallery .items, ARTICLE.show_object SECTION.content .related_items .images, ARTICLE.show_object SECTION.content .related_items .items {
      display: flex;
      flex-wrap: wrap; }
      ARTICLE.show_object SECTION.content .gallery .images A, ARTICLE.show_object SECTION.content .gallery .items A, ARTICLE.show_object SECTION.content .related_items .images A, ARTICLE.show_object SECTION.content .related_items .items A {
        flex: 1;
        min-width: 25%;
        max-width: 25%;
        overflow: hidden;
        text-align: center;
        position: relative; }
        @media screen and (min-width: 750px) {
          ARTICLE.show_object SECTION.content .gallery .images A, ARTICLE.show_object SECTION.content .gallery .items A, ARTICLE.show_object SECTION.content .related_items .images A, ARTICLE.show_object SECTION.content .related_items .items A {
            min-width: 20%;
            max-width: 20%; } }
        ARTICLE.show_object SECTION.content .gallery .images A:before, ARTICLE.show_object SECTION.content .gallery .items A:before, ARTICLE.show_object SECTION.content .related_items .images A:before, ARTICLE.show_object SECTION.content .related_items .items A:before {
          content: "";
          display: block;
          width: 1px;
          height: auto;
          margin-top: 100%; }
        ARTICLE.show_object SECTION.content .gallery .images A IMG, ARTICLE.show_object SECTION.content .gallery .items A IMG, ARTICLE.show_object SECTION.content .related_items .images A IMG, ARTICLE.show_object SECTION.content .related_items .items A IMG {
          position: absolute;
          width: 120%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 0.3s; }
        ARTICLE.show_object SECTION.content .gallery .images A:hover IMG, ARTICLE.show_object SECTION.content .gallery .items A:hover IMG, ARTICLE.show_object SECTION.content .related_items .images A:hover IMG, ARTICLE.show_object SECTION.content .related_items .items A:hover IMG {
          width: 160%;
          transition: 0.3s; }
  ARTICLE.show_object .message_banner {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: #33CF66;
    padding: 1rem;
    width: 100vw;
    z-index: 30;
    color: #FFF;
    font-size: 1.5rem;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    ARTICLE.show_object .message_banner I {
      font-size: 2rem;
      margin-right: 1rem; }
    ARTICLE.show_object .message_banner.show {
      bottom: 0;
      transition: 0.5s; }
    @media screen and (min-width: 1000px) {
      ARTICLE.show_object .message_banner {
        width: 50vw;
        left: 50vw;
        font-size: 1.2rem; } }
    @media screen and (min-width: 1200px) {
      ARTICLE.show_object .message_banner {
        width: 30vw;
        left: 70vw;
        font-size: 1rem; }
        ARTICLE.show_object .message_banner I {
          font-size: 1.5rem; } }

/* Style for the footer */
FOOTER {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: -100%;
  transition: 0.5s;
  color: #FFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 400;
  font-size: 0.9rem;
  z-index: 20; }
  FOOTER.show {
    right: 0;
    transition: 0.5s; }
  FOOTER SECTION {
    padding: 0.2rem;
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start; }
    FOOTER SECTION:last-child {
      justify-content: flex-end; }
      FOOTER SECTION:last-child P {
        text-align: right; }
    FOOTER SECTION P {
      padding: 0;
      margin: 0; }
      FOOTER SECTION P A {
        color: #F6F9FC; }

/* The modal that will ask the users if they want to use cookies */
SECTION.cookies_modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -100%;
  height: 100vh;
  width: 100vw;
  z-index: 40;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.5s, bottom 0s linear 0.5s; }
  SECTION.cookies_modal ARTICLE {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #FFF;
    box-shadow: 0px 0px 20px #AAA;
    max-height: 90vh;
    overflow-y: auto;
    font-size: 1rem;
    padding: 0.3rem;
    transition: bottom 0.5s; }
    SECTION.cookies_modal ARTICLE .accept_button, SECTION.cookies_modal ARTICLE .decline_button {
      width: 100%;
      border: 1px solid #FFF;
      font-size: 1rem;
      font-family: "Baloo Thambi 2", Arial, sans-serif;
      font-weight: 700;
      padding: 0.75rem;
      color: #FFF;
      transition: 0.3s;
      cursor: pointer; }
      SECTION.cookies_modal ARTICLE .accept_button I, SECTION.cookies_modal ARTICLE .decline_button I {
        margin-right: 0.3rem; }
    SECTION.cookies_modal ARTICLE .accept_button {
      background-color: #33CF66;
      border-color: #33CF66; }
      SECTION.cookies_modal ARTICLE .accept_button:hover {
        background-color: #86e2a4;
        border-color: #86e2a4;
        transition: 0.3s; }
    SECTION.cookies_modal ARTICLE .decline_button {
      background-color: #FF2B47;
      border-color: #FF2B47; }
      SECTION.cookies_modal ARTICLE .decline_button:hover {
        background-color: #ff91a0;
        border-color: #ff91a0;
        transition: 0.3s; }
    @media screen and (min-width: 750px) {
      SECTION.cookies_modal ARTICLE .buttons {
        display: flex; } }
    @media screen and (min-width: 1200px) {
      SECTION.cookies_modal ARTICLE {
        top: 50%;
        left: 50%;
        bottom: auto !important;
        transform: translate(-50%, -50%);
        width: 50vw;
        height: auto;
        min-height: 0px;
        max-height: none;
        padding-bottom: 4rem; }
        SECTION.cookies_modal ARTICLE .buttons {
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0; } }

/* Style for the gallery view */
ARTICLE.gallery_show {
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  background-color: rgba(68, 68, 68, 0.7);
  height: 0px;
  width: 0px;
  opacity: 0;
  z-index: 30;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  grid-template-rows: 3rem 1fr 3rem;
  transition: 0.5s; }
  @media screen and (min-width: 750px) {
    ARTICLE.gallery_show {
      grid-template-columns: 5rem 1fr 5rem;
      grid-template-rows: 5rem 1fr 5rem; } }
  ARTICLE.gallery_show .close_gallery {
    grid-column: 3;
    grid-row: 1; }
  ARTICLE.gallery_show .next_item {
    grid-column: 3;
    grid-row: 2; }
  ARTICLE.gallery_show .prev_item {
    grid-column: 1;
    grid-row: 2; }
  ARTICLE.gallery_show .close_gallery, ARTICLE.gallery_show .next_item, ARTICLE.gallery_show .prev_item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #B6483D;
    transition: 0.3s; }
    ARTICLE.gallery_show .close_gallery SPAN, ARTICLE.gallery_show .next_item SPAN, ARTICLE.gallery_show .prev_item SPAN {
      width: 2rem;
      height: 2rem;
      display: block;
      border: 2px solid #B6483D;
      border-radius: 50%;
      background-color: #FFF;
      display: flex;
      align-items: center;
      justify-content: center; }
    ARTICLE.gallery_show .close_gallery.disable, ARTICLE.gallery_show .next_item.disable, ARTICLE.gallery_show .prev_item.disable {
      opacity: 0;
      transition: 0.3s; }
    @media screen and (min-width: 750px) {
      ARTICLE.gallery_show .close_gallery, ARTICLE.gallery_show .next_item, ARTICLE.gallery_show .prev_item {
        font-size: 1.5rem; }
        ARTICLE.gallery_show .close_gallery SPAN, ARTICLE.gallery_show .next_item SPAN, ARTICLE.gallery_show .prev_item SPAN {
          width: 2.5rem;
          height: 2.5rem; }
        ARTICLE.gallery_show .close_gallery:hover, ARTICLE.gallery_show .next_item:hover, ARTICLE.gallery_show .prev_item:hover {
          font-size: 1.7rem; } }
  ARTICLE.gallery_show .images {
    grid-row: 2;
    grid-column: 2;
    position: relative;
    overflow: hidden; }
    ARTICLE.gallery_show .images IMG {
      max-width: calc(100vw - 6rem);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      transition: 0.5s; }
    ARTICLE.gallery_show .images .next {
      left: 150%;
      opacity: 0;
      transition: 0.5s; }
    ARTICLE.gallery_show .images .prev {
      left: -50%;
      opacity: 0;
      transition: 0.5s; }

/* Style the clear saved button */
A.clear_saved {
  background-color: #FF2B47;
  color: #FFF;
  text-decoration: none;
  padding: 1rem;
  transition: 0.5s; }
  A.clear_saved:hover {
    background-color: #ff91a0;
    transition: 0.5s; }
